<section class="main">
  <ul class="todo-list">
    <li *ngFor="let task of tasks; index as i" [ngClass]="{'completed': task.isCompleted, 'editing': task.isEdit}">
      <div class="view">
        <input (click)="mark(i)" class="toggle" type="checkbox" [checked]="task.isCompleted"/>
        <label (dblclick)="enableEdit(i)">{{task.name}}</label>
        <button class="destroy"></button>
      </div>
      <input (keyup.enter)="captureText($event, i)" (keyup.escape)="discardChanges(i)" #editInput class="edit" [value]="task.name" />
    </li>
  </ul>
</section>
